@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: "Helvetica Neue";
	font-size: 18px;
	margin: 0px;
}
h1, h2, h3 {
	font-family: "Helvetica Neue";
	font-weight: "lighter";
}
a {
	text-decoration: none;
}